## Airline Passengers (Logistic Regression):

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Airline Passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       144 non-null    object
 1   Passengers  144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [4]:
df['Years']=df['Month'].str.split(pat='-').str[1] #Splitting Year From Month Columns
df

       Month  Passengers Years
0    1949-01         112    01
1    1949-02         118    02
2    1949-03         132    03
3    1949-04         129    04
4    1949-05         121    05
..       ...         ...   ...
139  1960-08         606    08
140  1960-09         508    09
141  1960-10         461    10
142  1960-11         390    11
143  1960-12         432    12

[144 rows x 3 columns]

In [11]:
df2=df['Month']=df['Month'].str.split(pat='-').str[0]
df2

KeyError: 'Month'

In [9]:
df.rename(columns={'Month':'Years','Years':'Months'}, inplace=True)
df

    Months  Passengers Months
0     1949         112     01
1     1949         118     02
2     1949         132     03
3     1949         129     04
4     1949         121     05
..     ...         ...    ...
139   1960         606     08
140   1960         508     09
141   1960         461     10
142   1960         390     11
143   1960         432     12

[144 rows x 3 columns]

In [12]:
df2.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [48]:
plt.scatter(df2.Months, df2.Passengers, marker='.', color='Purple')

AttributeError: 'NoneType' object has no attribute 'Months'

In [49]:
type(df2[['Months']])

TypeError: 'NoneType' object is not subscriptable

In [50]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df[['Month']],df.Passengers,test_size=0.1)  #0.1=10%

KeyError: "None of [Index(['Month'], dtype='object')] are in the [columns]"