## Loan Eligibility Prediction (Linear Regression):

In [69]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [70]:
df=pd.read_csv('Loan Eligibility Prediction.csv')
df

,Customer_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,569,Female,No,0,Graduate,No,2378,0.0,9,360,1,Urban,N
1,15,Male,Yes,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
2,95,Male,No,0,Not Graduate,No,3620,0.0,25,120,1,Semiurban,Y
3,134,Male,Yes,0,Graduate,Yes,3459,0.0,25,120,1,Semiurban,Y
4,556,Male,Yes,1,Graduate,No,5468,1032.0,26,360,1,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,480,Male,Yes,2,Graduate,No,2947,1603.0,10,360,1,Urban,N
610,525,Male,No,0,Graduate,No,4680,2087.0,15,360,1,Semiurban,N
611,551,Male,Yes,2,Graduate,Yes,6633,0.0,25,360,0,Rural,N
612,552,Male,Yes,1,Not Graduate,No,2492,2375.0,30,360,1,Rural,Y
613,606,Male,Yes,0,Not Graduate,No,2400,3800.0,25,180,1,Urban,N

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         614 non-null    int64
 1   Gender              614 non-null    object
 2   Married             614 non-null    object
 3   Dependents          614 non-null    int64
 4   Education           614 non-null    object
 5   Self_Employed       614 non-null    object
 6   Applicant_Income    614 non-null    int64
 7   Coapplicant_Income  614 non-null    float64
 8   Loan_Amount         614 non-null    int64
 9   Loan_Amount_Term    614 non-null    int64
 10  Credit_History      614 non-null    int64
 11  Property_Area       614 non-null    object
 12  Loan_Status         614 non-null    object
dtypes: float64(1), int64(6), object(6)
memory usage: 62.5+ KB

In [72]:
df.nunique()

Customer_ID           614
Gender                  2
Married                 2
Dependents              4
Education               2
Self_Employed           2
Applicant_Income      505
Coapplicant_Income    287
Loan_Amount           208
Loan_Amount_Term       10
Credit_History          2
Property_Area           3
Loan_Status             2
dtype: int64

In [73]:
newdf=df[['Customer_ID','Gender','Married','Dependents','Education','Self_Employed','Applicant_Income','Coapplicant_Income',
          'Loan_Amount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']]
newdf

,Customer_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,569,Female,No,0,Graduate,No,2378,0.0,9,360,1,Urban,N
1,15,Male,Yes,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
2,95,Male,No,0,Not Graduate,No,3620,0.0,25,120,1,Semiurban,Y
3,134,Male,Yes,0,Graduate,Yes,3459,0.0,25,120,1,Semiurban,Y
4,556,Male,Yes,1,Graduate,No,5468,1032.0,26,360,1,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,480,Male,Yes,2,Graduate,No,2947,1603.0,10,360,1,Urban,N
610,525,Male,No,0,Graduate,No,4680,2087.0,15,360,1,Semiurban,N
611,551,Male,Yes,2,Graduate,Yes,6633,0.0,25,360,0,Rural,N
612,552,Male,Yes,1,Not Graduate,No,2492,2375.0,30,360,1,Rural,Y
613,606,Male,Yes,0,Not Graduate,No,2400,3800.0,25,180,1,Urban,N

In [74]:
newdf.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [75]:
newdf.Gender=newdf.Gender.replace('Male',0)

In [76]:
newdf.Gender=newdf.Gender.replace('Female',1)
newdf

C:\Users\SG\AppData\Local\Temp\ipykernel_2016\2125727196.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  newdf.Gender=newdf.Gender.replace('Female',1)

,Customer_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,569,1,No,0,Graduate,No,2378,0.0,9,360,1,Urban,N
1,15,0,Yes,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
2,95,0,No,0,Not Graduate,No,3620,0.0,25,120,1,Semiurban,Y
3,134,0,Yes,0,Graduate,Yes,3459,0.0,25,120,1,Semiurban,Y
4,556,0,Yes,1,Graduate,No,5468,1032.0,26,360,1,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,480,0,Yes,2,Graduate,No,2947,1603.0,10,360,1,Urban,N
610,525,0,No,0,Graduate,No,4680,2087.0,15,360,1,Semiurban,N
611,551,0,Yes,2,Graduate,Yes,6633,0.0,25,360,0,Rural,N
612,552,0,Yes,1,Not Graduate,No,2492,2375.0,30,360,1,Rural,Y
613,606,0,Yes,0,Not Graduate,No,2400,3800.0,25,180,1,Urban,N

In [77]:
newdf.Married=newdf.Married.replace('Yes',1)

In [78]:
newdf.Married=newdf.Married.replace('No',2)
newdf

C:\Users\SG\AppData\Local\Temp\ipykernel_2016\1385800415.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  newdf.Married=newdf.Married.replace('No',2)

,Customer_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,569,1,2,0,Graduate,No,2378,0.0,9,360,1,Urban,N
1,15,0,1,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
2,95,0,2,0,Not Graduate,No,3620,0.0,25,120,1,Semiurban,Y
3,134,0,1,0,Graduate,Yes,3459,0.0,25,120,1,Semiurban,Y
4,556,0,1,1,Graduate,No,5468,1032.0,26,360,1,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,480,0,1,2,Graduate,No,2947,1603.0,10,360,1,Urban,N
610,525,0,2,0,Graduate,No,4680,2087.0,15,360,1,Semiurban,N
611,551,0,1,2,Graduate,Yes,6633,0.0,25,360,0,Rural,N
612,552,0,1,1,Not Graduate,No,2492,2375.0,30,360,1,Rural,Y
613,606,0,1,0,Not Graduate,No,2400,3800.0,25,180,1,Urban,N

In [79]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         614 non-null    int64
 1   Gender              614 non-null    int64
 2   Married             614 non-null    int64
 3   Dependents          614 non-null    int64
 4   Education           614 non-null    object
 5   Self_Employed       614 non-null    object
 6   Applicant_Income    614 non-null    int64
 7   Coapplicant_Income  614 non-null    float64
 8   Loan_Amount         614 non-null    int64
 9   Loan_Amount_Term    614 non-null    int64
 10  Credit_History      614 non-null    int64
 11  Property_Area       614 non-null    object
 12  Loan_Status         614 non-null    object
dtypes: float64(1), int64(8), object(4)
memory usage: 62.5+ KB

In [80]:
Apl_Income=newdf['Applicant_Income']
Apl_Income

0      2378
1      1299
2      3620
3      3459
4      5468
       ...
609    2947
610    4680
611    6633
612    2492
613    2400
Name: Applicant_Income, Length: 614, dtype: int64

In [81]:
newdf=newdf.drop(columns=['Applicant_Income'])

In [82]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         614 non-null    int64
 1   Gender              614 non-null    int64
 2   Married             614 non-null    int64
 3   Dependents          614 non-null    int64
 4   Education           614 non-null    object
 5   Self_Employed       614 non-null    object
 6   Coapplicant_Income  614 non-null    float64
 7   Loan_Amount         614 non-null    int64
 8   Loan_Amount_Term    614 non-null    int64
 9   Credit_History      614 non-null    int64
 10  Property_Area       614 non-null    object
 11  Loan_Status         614 non-null    object
dtypes: float64(1), int64(7), object(4)
memory usage: 57.7+ KB

In [83]:
reg = linear_model.LinearRegression()

In [85]:
reg.fit(newdf[['Customer_ID','Gender','Married','Dependents','Coapplicant_Income',
          'Loan_Amount','Loan_Amount_Term','Credit_History']],Apl_Income)

LinearRegression()

In [87]:
reg.coef_

array([-4.79604468e-02, -9.60558484e+01,  5.46986844e+02,  2.72755834e+02,
       -4.84800991e-01,  4.15378191e+01, -6.35904497e+00, -1.67701486e+02])

In [88]:
reg.fit_intercept

True

In [89]:
reg.intercept_

np.float64(1648.2833392735283)

In [92]:
reg.predict([[569,1,2,0,0.0,9,360,1]])

C:\Users\SG\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([535.7943831])