In [4]:
import pandas as pd
add= lambda a,b: a+b
print(add(10,20))

df=pd.DataFrame({'num':[1,2,3,4,5]})
df['square']=df['num'].apply(lambda x: x**2)
df

30

   num  square
0    1       1
1    2       4
2    3       9
3    4      16
4    5      25